#
# Horus Binary Packet Handler Config File
#

[user]
# Your callsign -  used when uploading to the HabHub Tracker.
callsign = YOUR_CALL_HERE


# Don't change the settings below unless you know what you're doing!
[payload]
# What ASCII callsign to use when converting binary packets (which just have a payload ID number)
# to UKHAS-compliant sentences.
payload_callsign = HORUSBINARY

# TODO: Handle payloads with different payload IDs with a lookup table.

[freedv]
# Listen for UDP messages from FreeDV on this port.
udp_port = 55690

[ozimux]
# OziMux UDP Broadcast port. (defaults to the FldigiBridge input socket on OziMux)
ozimux_port = 55683